<section class="send_data">
  <header class="head">
    <ul class="menu-bar">
      <li><a href="/admin" class="menu">صفحه اصلی</a></li>
      <li><a href="/admin/clints" class="menu">انتخاب مشتری</a></li>
      <li><a onclick="window.history.go(-1)" class="menu">بازگشت</a></li>
    </ul>
  </header>

  <div class="editeProducts">
    <main class="form_pro">
      <form action="/admin/editeClint/<%= clints.id %>" method="post">
        <%- include(viewPath('layouts/error-messages')) -%>
        <h6>ویرایش مشتری</h6>
        <input
          type="text"
          name="name"
          value="<%= clints.name %>"
          placeholder=" نام مشتری را وارد کنید "
        />
        <input
          type="text"
          name="addresses"
          value="<%= clints.addresses %>"
          placeholder=" آدرس مشتری را وارد کنید "
        />
        <input
          type="text"
          name="phone"
          value="<%= clints.phone %>"
          placeholder=" تلفن مشتری را وارد کنید "
          min="0"
          required
        />
        <a
          id="click2"
          style="
            padding: 0.3rem;
            font-size: 1rem;
            font-weight: 800;
            background-color: white;
            border-radius: 10px;
          "
        >
          بستانکاری را وارد کنید</a
        >
        <input
          style="display: none"
          type="number"
          step="any"
          min="0"
          name="creditor"
          id="creditor"
          placeholder=" بستانکاری مشتری را وارد کنید "
          oninput="check(this)"
        />
        <!-- <a href="http://" target="_blank" rel="noopener noreferrer"></a> -->
        <a
          style="
            padding: 0.3rem;
            font-size: 1rem;
            font-weight: 800;
            background-color: white;
            border-radius: 10px;
            margin-top: 0.5rem;
          "
          id="click1"
        >
          بدهکاری را وارد کنید</a
        >
        <input
          style="display: none"
          type="number"
          step="any"
          min="0"
          name="debtor"
          id="debtor"
          placeholder=" بدهکاری مشتری را وارد کنید "
          oninput="check(this)"
        />

        <button type="submit" class="res btn">ثبت</button>
      </form>
    </main>
  </div>

  <footer class="footer"></footer>
</section>

<script>
  document.getElementById("click1").addEventListener("click", (e) => {
    document.getElementById("creditor").style.display = "none";
    document.getElementById("debtor").style.display = "block";
    document.getElementById("click1").style.display = "none";
    document.getElementById("click2").style.display = "block";
  });

  document.getElementById("click2").addEventListener("click", (e) => {
    document.getElementById("creditor").style.display = "block";
    document.getElementById("debtor").style.display = "none";
    document.getElementById("click2").style.display = "none";
    document.getElementById("click1").style.display = "block";
  });
</script>
