<section class="send_data">
  <header class="head">
    <ul class="menu-bar">
      <li><a href="/admin" class="menu">صفحه اصلی</a></li>
      <li><a href="/admin/allProducts" class="menu">صفحه محصولات</a></li>
    </ul>
  </header>

  <div class="editeProducts">
    <main class="form_pro">
      <% let num = Math.floor(products.amount / products.numberPerPackage) %>

      <form
        action="/admin/singelProducts/editedReduce/<%= products.id %>"
        method="post"
      >
        <p class="p_edite">کاهش محصول</p>

        <input
          type="number"
          name="amountOfPackages"
          placeholder="تعداد بسته ها را وارد کنید"
          min="0"
          required
        />

        <input
          type="number"
          value="<%= products.numberPerPackage %>"
          name="numberPerPackage"
          placeholder="تعداد در هر بسته را وارد کنید"
          min="1"
          required
        />

        <input
          type="number"
          name="amount"
          placeholder="تعداد جز را وارد کنید"
          min="0"
          required
        />

        <button type="submit" class="res btn">ثبت</button>
      </form>
    </main>

    <div class="info">
      <%- include(viewPath('layouts/error-messages')) -%>
      <h4>
        تعداد جز موجود : <%= Math.floor(products.amount -
        (products.numberPerPackage * num)) %>
      </h4>
      <h4>
        تعداد بسته موجود : <%= Math.floor(products.amount /
        products.numberPerPackage) %>
      </h4>
    </div>

    <main class="form_pro">
      <form
        action="/admin/singelProducts/edited/<%= products.id %>"
        method="post"
      >
        <p class="p_edite">ویرایش و افزایش محصول</p>

        <input
          type="text"
          id="e"
          value="<%= products.name %>"
          name="name"
          placeholder="نام محصول را وارد کنید"
        />

        <select name="type" id="e">
          <option value="<%= products.type %>" selected>
            <%= products.type %>
          </option>
          <option disabled>نوع بسته بندی را وارد کنید</option>
          <option value="بسته">بسته</option>
          <option value="کارتن">کارتن</option>
          <option value="کیسه">کیسه</option>
          <option value="کیلوگرم">کیلوگرم</option>
          <option value="عدد">عدد</option>
        </select>

        <input
          type="number"
          id="e"
          value="<%= products.price_retail %>"
          name="price_retail"
          placeholder="قیمت جز محصول را وارد کنید"
          min="0"
          required
        />

        <input
          type="number"
          id="e"
          value="<%= products.price_total %>"
          name="price_total"
          placeholder="قیمت بسته محصول را وارد کنید"
          min="0"
          required
        />

        <input
          type="number"
          id="e"
          min="0"
          name="amountOfPackages"
          placeholder="تعداد بسته ها را وارد کنید"
          required
        />

        <input
          type="number"
          id="e"
          min="1"
          value="<%= products.numberPerPackage %>"
          name="numberPerPackage"
          placeholder="تعداد در هر بسته را وارد کنید"
          required
        />

        <input
          type="number"
          id="e"
          min="0"
          name="amount"
          placeholder="تعداد جز را وارد کنید"
          required
        />

        <button type="submit" class="res btn">ثبت</button>
      </form>
    </main>
  </div>

  <footer class="footer"></footer>
</section>
